.login-container {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    margin-right: 5px;
  }
  
  .login-button {
    margin-top: 10px;
  }